*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 1.2em;
}

:root{
    --primary-color: #0d0d0d;
    --secondary-color : #faf9f9;
    --gold:#ddd234f5;
    /* --secondary-color : #0d0d0d; */
    /* --primary-color : #faf9f9; */
}

body{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: Arial, sans-serif;
    font-size: 2rem;
    transition: background-color 350ms ease-out;
    overflow: hidden;
    animation: ov 3s forwards ease;
}
.logo img{
    height:2.7rem;
}
.pre{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #faf9f9;
    display: grid;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 10000;
    position: fixed;
    animation: pre 1s 3s forwards ease;
}
.pre-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: pre-content 2.6s 1s forwards ease-in-out;
}
.pre-content h2{
    font-weight: bold;
    font-size: 1rem;
    color: #0d0d0d;
}

@keyframes ov{
    100%{
        overflow: scroll;
    }
}
@keyframes pre {
    100%{
        transform: translateY(-100vh);
        /* opacity: 0; */
    }
}
@keyframes pre-content{
    10%{
        transform: translateY(0);
        opacity: 1;
        scale: 1;
    }
    30%{
        scale: 1;
    }
    50%{
        scale: .6;
    }
    89%{
        opacity: 1;
    }
    90%{
        scale: 100;
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
li{
    list-style: none;
}
nav{
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 22px 5vw;
    font-size: 1.3rem;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--primary-color) ;
    transition: top 300ms ;
    align-items: center;
}
.nav{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.nav>button{
    background-color: var(--primary-color);
    padding: .7rem 1.4rem;
    border-radius: 20px;
    outline: none;
    /* font-size: 1.2rem; */
    border: 3px solid var(--primary-color);
}
.nav>button>a{
    color: var(--secondary-color);
}
.nav>button:hover{
    background-color: var(--secondary-color);
}
.nav>button:hover a{
    color: var(--primary-color);
}
.nav>ul{
    list-style: none;
    display: flex;
    gap: 2.5rem;
}
.nav>ul li,.social li a{
    position: relative;
}

.nav ul li a::before
,.social li a::before
{
    content: "";
    position: absolute;
    border-bottom: 3px solid var(--primary-color);
    width: 0%;
    height: 2px;
    transform: translateY(25px);
    transition: width 250ms;
}
.nav>ul li a:hover::before,
.social li a:hover::before,
.social li a:hover{
    opacity: 1;
    width: 90%;
}
.social li a{
    opacity: .7;
}
.main-container{
    max-width: 1200px;
    margin: 0 auto;
}
section{
    min-height: 100vh;
    width: 100%;
    padding-top: 7rem ;
}
.hero{
    padding-top: 20vh;
}
.boxes{
    height: 75vh;
    position: relative; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
.boxes p{
    /* color: var(--gold); */
    font-size: 2rem;
}
.boxes h1{
    font-size: 10rem;
    padding: 2rem 0;
}
.boxes h1::after{
    content: '';
    background-color: var(--gold);
    position: absolute;
    bottom: 4rem;
    left: 1rem;
    height: 3rem;
    width: 100%;
    z-index: -1;
}
.one-line{
    display: flex;
    font-size: 6vw;
    margin: 2em 0 ;
    line-height: 1.2em;
}
section>h2{
    text-align: center;
    text-transform: uppercase;
    color: var(--gold);
    font-size: 5rem;
    position: relative;
    padding-bottom: 10rem;
}
section>h2::before{
    content: '';
    position: absolute;
    background-color: var(--gold);
    height: 20px;
    width: 40px;
    transform: translate(-3rem,2rem);
    border-radius: 0 0 20px 20px;
}
section>h2::after{
    content: '';
    position: absolute;
    background-color: var(--gold);
    height: 20px;
    width: 40px;
    transform: translate(.7rem,2rem);
    border-radius: 0 0 20px 20px;
}
.profile-img{
    display: flex;
    justify-content: center;
}
.profile-img img{
    box-shadow: 0 0 var(--primary-color);
    transition: transform 250ms,
            box-shadow 250ms;
}
.about-me{
    align-items: center;
    padding: 5rem 0;
}
.about-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-desc p{
    font-size: 1.5rem;
    padding: 20px 0 ;
}
.about-me{
    display: flex;
}
.tools{
    display: flex;
    gap: 10rem;
}
.tools h2{
    color: var(--gold);
    font-size: 1.3em;
    font-weight: bold;
}
.tools li{
    padding-top:  2rem ;
}
.tools-list{
    padding-top: 25.5vh;
}
.projects{
    margin-top: 7rem ;
}
.project{
    align-items: flex-start;
    margin-bottom: 8rem;
    /* background-color: bisque; */
}

.project h2:hover a{
    border-bottom: .2rem solid var(--primary-color);
}
.external-link{
    color: var(--primary-color);
}
.external-link:hover{
    color: var(--gold);
}
.project h2:hover .ex-a{
    border-bottom: 0px ;
}
.project-image{
    display: flex;
    gap: .5rem;
}
.project-image img{
    height: 200px;
}
.project-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    width: 100%;
}
.project-desc p{
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.technologies{
    display: flex;
    margin-top:1rem;
    flex-wrap: wrap;
    gap: 1rem;
}
.tech{
    font-size: .8rem;
    background: var(--gold);
    color: black;
    font-weight: bold;
    padding: .5rem 1rem;
    margin-right:1.2rem;
    /* margin-bottom: 1.2rem; */
    border-radius: 20px;
}
h3{
    font-size: 3rem; 
    padding-bottom: 2rem;
}
h2{
    font-size: 1.7rem;
    padding-bottom: .4em;
}
.sec{
    margin-top: 2em;
}
.left{
    flex-basis: 50%;
    height: fit-content;
}
.flex{
    display: flex;
    gap: 2em;
}
.right{
    flex-basis: 50%;
}
p{
    font-size: 1.4rem;
    line-height: 2rem;
    opacity: .6;
}
.sticky{
     position: sticky; 
     top:10vh; 
}
.sticky>h3{
    padding-top: 25vh;
}
form{
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
}
input,
textarea{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    padding: 1em 0;
    font-size: 1.2rem;
}

label{
    position: relative;
    top:4em;
    font-size: 1.1rem;
    opacity: .4;
}
.submit{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50px;
    margin: 2em 0 ;
    font-size: 1rem;
    width: 12em;
    border: 3px solid var(--primary-color);
}
.submit:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.sec ul li{
    padding: .7em 0;
}
i{
    color: var(--primary-color);
    padding-right: .5em;
}
footer{
    background-color:#0d0d0d;
    color: #faf9f9;
    display: flex;
    justify-content: center;
}
footer p{
    font-size: .8rem;
} 
@media (min-width:1200px){
    .profile-img img:hover{
        transform: translate(-10px,-10px);
        border: 5px solid var(--primary-color);
        box-shadow: 20px 20px var(--primary-color);
    }
    .project:nth-child(even){
        flex-direction: row-reverse;
    }
    .sec ul{
        font-size: 1.3rem;
    }
}
@media (max-width:1200px){
    html{
        scroll-padding-top: 2.2em;
    }
    body{
        font-size: 1rem;
        overflow-x: hidden;
    }
    .boxes{
        height: 50vh;
    }
    .boxes h1{
        padding: 1vw 0;
        font-size: 10vw;
    }
    .boxes h1::after{
        height: 1.5rem;
        bottom: 1.5rem;
        width: 80%;
    }
    .boxes p{
        font-size: 1rem;
    }
    section{
        min-height: 60vh;
        padding-top:3rem ;
    }
    section>h2{
        font-size: 3rem;
    }
    section>h2::after,
    section>h2::before{
        height: 15px;
        width: 30px;
        border-radius: 0 0 15px 15px;
        top: -10px;
    }
    .flex.sm,
    .sm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .one-line{
        height: 50vh;
        font-size: 10vh;
    }
    .sticky>h3{
        padding-top: 10vh;
    }
    label{
        top: 2.5em;
    }
    .main-container{
        margin: 0 2rem;
    }
    .left{
        position: relative;
    }
    .nav ul{
        display: none;
    }
    i{
        color: var(--secondary-color);
    }
    /* .profile img{
        position: relative;
        left: 30px;
    } */
    .profile-img img{
        border: 5px solid var(--primary-color);
        box-shadow: 20px 20px var(--primary-color);
        height: 40vh;
    }
    .tools>.left{
        position: unset;
    }
    .tools-list{
        padding-top: 0;
    }
    .project-desc p{
        font-size: 1rem;
    }
    .technologies{
        gap: .2rem;
    }
    .footer{
        background-color: var(--primary-color);
        color: var(--secondary-color);
        width: 100vw;
        padding: 2em 3em;
        display: flex;
        justify-content: space-around;
        align-items: start;
    }
    .footer a{
        color: var(--secondary-color);
    }
    .footer .sec{
        margin-top: 0;
    }
}
/* @media (min-width:700px) and (max-width:1200px) {
    .profile-img img{
        border: 5px solid var(--primary-color);
        box-shadow: 20px 20px var(--primary-color);
        height: 40vh;
    }
} */
@media (max-width:700px) {
    .xsm{
        flex-direction: column;
        gap: 0;
    }
    .boxes{
        height: 35vh;
    }
    .boxes h1::after{
        height: .8rem;
        bottom: .8rem;
        width: 80%;
    }
    .one-line{
        font-size: 10vw;
    }
    .about-desc p{
        font-size: unset;
    }
    p{
        font-size: 1rem;
    }
    .tech{
       margin-right: .2rem;
    }
    .profile-img img{
        height: 50vw;
        box-shadow: 10px 10px;
    }
    .project-image img{
        height: 100px;
    }

    .footer .sec{
        margin: 2em 0;
    }
    
}
